.music-widget {
  background-color: #e05780;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.music-widget .MuiSlider-root {
  color: #fffaff;
}

.music-widget .MuiSlider-thumb {
  background-color: #fffaff;
  border: 2px solid #fff;
}

.music-widget .MuiIconButton-root {
  color: #fffaff;
}

.music-widget .MuiIconButton-root:hover {
  color: #fffaff;
}

.music-widget .MuiTypography-root {
  color: #fffaff;
}
