.music-widget {
  background-color: #e05780; /* Background color with transparency */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the widget */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  text-align: center; /* Center text alignment */
  width: 200px; /* Set width to 250px */
  height: 200px; /* Set height to 250px */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  margin: auto; /* Center widget horizontally */
  overflow: hidden; /* Hide overflow content */
}

/* Custom slider style */
.music-widget .MuiSlider-root {
  color: #fffaff; /* Color of the slider track and thumb */
}

.music-widget .MuiSlider-thumb {
  background-color: #fffaff; /* Color of the slider thumb */
  border: 2px solid #fff; /* Border around the slider thumb */
}

/* Custom button colors */
.music-widget .MuiIconButton-root {
  color: #fffaff; /* Color of the icons */
}

.music-widget .MuiIconButton-root:hover {
  color: #fffaff; /* Color when hovered */
}

/* Custom text color */
.music-widget .MuiTypography-root {
  color: #fffaff; /* Color of text inside the widget */
}
