.google-meet-widget {
  background: #fca17d; /* Background color with transparency */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the widget */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  text-align: center; /* Center text alignment */
  width: 200px; /* Set width to 250px */
  height: 200px; /* Set height to 250px */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  margin: auto; /* Center widget horizontally */
  overflow: hidden; /* Hide overflow content */
}
.google-meet-widget .MuiTypography-root {
  color: #ffffff; /* Set text color to white */
}

.google-meet-widget .MuiTextField-root {
  color: #ffffff; /* Set text color inside TextField */
}

.google-meet-widget .MuiButton-root {
  color: #ffffff; /* Set text color of the button */
  background-color: #ff5722; /* Optional: Set a custom background color for the button */
}
.google-meet-widget .MuiInputBase-input {
  color: #ffffff; /* Set text color inside the input */
}
.google-meet-widget .MuiInputBase-input::placeholder {
  color: #ffffff; /* Set placeholder color to white */
  opacity: 1; /* Ensure full opacity */
}
  