.checklist-widget {
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  background-color: #6c17b6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow-y: auto;
  box-sizing: border-box;
}

.checklist-widget h2 {
  font-size: 1.2em;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

.checklist {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  height: calc(100% - 50px);
}

.checklist-item {
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
}

.checklist-item:hover {
  background-color: #e0e0e0;
}

.checklist-item.completed {
  text-decoration: line-through;
  color: #ffffff;
}

.checkbox {
  margin-right: 10px;
}
