.google-spreadsheet-widget {
  background: #9a348e; /* Background color */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Padding inside the widget */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
  text-align: center; /* Center text alignment */
  width: 200px; /* Set width to 200px */
  height: 200px; /* Set height to 200px */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  margin: auto; /* Center widget horizontally */
  overflow: hidden; /* Hide overflow content */
}

.google-spreadsheet-widget .MuiTypography-root {
  color: #ffffff; /* Set text color to white */
}

.google-spreadsheet-widget .MuiTextField-root {
  color: #ffffff; /* Set text color inside TextField */
}

.google-spreadsheet-widget .MuiButton-root {
  color: #ffffff !important; /* Set text color of the button */
  background-color: #ff4081 !important; /* Set a custom background color for the button */
}

.google-spreadsheet-widget .MuiInputBase-input {
  color: #ffffff; /* Set text color inside the input */
}

.google-spreadsheet-widget .MuiInputBase-input::placeholder {
  color: #ffffff !important; /* Set placeholder color to white */
  opacity: 1; /* Ensure full opacity */
}

.google-spreadsheet-widget .MuiOutlinedInput-root {
  &.Mui-focused fieldset {
    border-color: #ffffff !important; /* Change border color to white when focused */
  }
}

.google-spreadsheet-widget .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important; /* Set input border color to white */
}
